function (void)InitializeFreqArray(void) {
	results = array(rep(0.0, (3*npops)*(nloci + 2)),dim = c(3*npops, nloci + 2));
	gencol = c(rep(0, npops), rep(6, npops), rep(10, npops));
	popcol = rep(1:npops, 3);
	results[,0] = gencol;
	results[,1] = popcol;
	sim.setValue("results", results);
}

function (void)SaveVals(void) {
	results = sim.getValue("results");
	gen = sim.generation - 2;
	if(gen == 6) mult = 1;
	if(gen == 10) mult = 2;
	genomesperpop = length(sim.subpopulations[0].genomes);
	
	for(pop in 0:(npops-1)) {
		mutations = sim.subpopulations[pop].genomes.mutations;
		for(pos in 0:(nloci-1)) {
			results[(mult * npops + pop),(pos + 2)] = sum(mutations.position == pos) / genomesperpop;
		}
	}
	
	sim.setValue("results", results);
}

function (void)SetUpLog(void) {
	log = sim.createLogFile("~/Documents/GitHub/EpistasisSim/sim_log_seed=" + getSeed(), logInterval = 1);
	log.addGeneration();
	log.addCustomColumn("RR", 'RR = sim.getValue("RR"); RR[length(RR) - 1];');
}

function (void)SetUpStartingPops(void) {
	startfreq = sim.getValue("startfreq");
	selcoef = sim.getValue("selcoef");
	
	genomes = sim.subpopulations.genomes;
	for(pos in 0:(nloci-1)){
		genomes[which(rbinom(length(genomes),1,startfreq[pos])==1)].addNewMutation(m1,selcoef[pos],pos);
	}
}

function (void)ReadLog(void) {
	lines = readFile("~/Documents/GitHub/EpistasisSim/selected_snps.info.txt");
	lines = lines[substr(lines, 0, 1) != "//"];
	selcoef = c();
	startfreq = c();
	for (line in lines[1:(length(lines) - 1)]){
		fields = strsplit(line, ",");
		selcoef = c(selcoef, asFloat(fields[2]));
		startfreq = c(startfreq, asFloat(fields[3]));
	}
	sim.setValue("selcoef", selcoef);
	sim.setValue("startfreq", startfreq);
}
// set up a simple neutral simulation
initialize() {
	defineGlobal("npops",10);
	defineGlobal("nloci", 1156);
	defineGlobal("RR", 0.5);
	defineGlobal("popsize", 500);
	
	initializeMutationRate(0);
	
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0);
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	
	// uniform chromosome of length 100 kb with uniform recombination
	initializeGenomicElement(g1, 0, (nloci - 1));
	initializeRecombinationRate(RR);
}

// create a population of 500 individuals
1 late() {
	sim.addSubpop("p1", popsize);
	sim.addSubpop("p2", popsize);
	sim.addSubpop("p3", popsize);
	sim.addSubpop("p4", popsize);
	sim.addSubpop("p5", popsize);
	sim.addSubpop("p6", popsize);
	sim.addSubpop("p7", popsize);
	sim.addSubpop("p8", popsize);
	sim.addSubpop("p9", popsize);
	sim.addSubpop("p10", popsize);
	
	ReadLog();
	SetUpStartingPops();
	InitializeFreqArray();
}

2 early() {
	SaveVals();
}

8 early() {
	SaveVals();
}

12 early() {
	SaveVals();
}